<html>
    <head>
        <title>Expense Tracker</title>
      
        <link rel="stylesheet" href="/style/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
       // <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <div class="sign-up-form">
            <h1>Sign Up Now</h1>
            <form>
                <label for="name">Name</label>
                <input type="name" class="input-box" placeholder="Enter your name">
                <label for="email" id="label">Email</label>
                <input type="email" class="input-box" placeholder="Enter your email">
                <label for="number" id="label">Phone</label>
                <input type="number" class="input-box" placeholder="Enter your Phone Number">
                <label for="password" id="label">Password</label>
                <input type="password" class="input-box" placeholder="Enter your password">

                <p> I agree to the terms</p>
                <button type="button" class="signup-btn" id="signup">Sign Up</button>
                <hr>
                <p class="or">Already have an account</p>
                <a href="/login.html" class="login-btn">Log In</a>

        </div>
        
        <script src="/js/main.js" nonce="<%= nonce %>"></script>
    </body>
</html>