<html>
    <head>
        <title>Expense Tracker</title>
       <link rel="stylesheet" href="/style/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      
    </head>
    <body>
        <div class="sign-up-form">
            <h1>Login</h1>
            <form>
                <input type="email" class="input-box" id="input-box1" placeholder="Enter your email">
                <input type="password" class="input-box" id="input-box2"  placeholder="Enter your password">
                <button type="button" class="login-btn" id="login" onclick="handlelogin()">Log In</button>
                <hr>
                <p class="or">Sign Up Now</p>
                <a href="/index.html" class="login-btn">Sign Up</a>
                <a href="/forgotPassword.html" class="login-btn">Forgot Password</a>

        </div>
        <script src="/js/login.js"></script>
    </body>
</html>